<?xml version="1.0"?>
<!--
/**
 * @author Monogo
 * @copyright Copyright (c) 2020 Monogo (https://monogo.pl)
 * @package Monogo_ZeroDowntimeDeployment
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Monogo_ZeroDowntimeDeployment" setup_version="1.0.1"/>
</config>
