<?xml version="1.0"?>
<!--
/**
 * @author Monogo
 * @copyright Copyright (c) 2020 Monogo (https://monogo.pl)
 * @package Monogo_ZeroDowntimeDeployment
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="monogo" translate="label, comment" sortOrder="9000" class="monogo-tab">
            <label>Monogo</label>
        </tab>
        <section id="zerodowntimedeployment" translate="label" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Zero downtime deployment</label>
            <tab>monogo</tab>
            <resource>Monogo_ZeroDowntimeDeployment::config</resource>
            <group id="general" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Setttings</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="logger_enabled" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Logger</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
